<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">介绍</a></li>
<li><a href="/weixin">微信账号维护</a></li>
<li><a href="/station">网格站维护</a></li>
<li><a href="/address">网格地址维护</a></li>
<li><a href="/upload">上传数据</a></li>
<li><a href="/set">系统设置</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
 
  <footer>
   <ul>
   <li>开发者：王晓峰(ted74)</li>
   <li>联系方式：xiaofeng.codeguy@qq.com</li>
   </ul>
  </footer>
  </body>
</html>
