---
---

@import "{{ site.theme }}";

header ul{
  all:unset;
}

header li {
  float: none;
  height: 30px;
  margin: 5px 5px 10px 5px;
  width: 259px;
  background-color: #f4f4f4;
  list-style: none;
  border-radius: 5px;
}

header ul li + li + li {
  border-right: none;
  width: 259px;
}

header li a {
  font-size: 14px;
  color:#39c;
}

a:hover, a:focus {
  color:#39c;
  font-weight: bold;
}

.version {
  background-color: #1f8dd6;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  color: #efefef;
  margin-bottom: 10px;
}
